@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);



/* Main-basic */

body , html {
	width: 100%;
	min-height: 105%;
	background: grey;
	overflow-x: hidden;
}

a , a:visited {
	text-decoration: none;
}

/* Main-basic end */


/* Left aside */

.left_aside{
 	width: 18%;
 	height: 100%;
 	background: #204150;
 	float: left;
 	position: fixed;
 	text-align: center;
 	overflow: hidden;
}

.logo {
	width: 100%;
	height: 33%;
	min-height: 200px;
	background: url(../logo.svg) no-repeat;
	background-size: cover;
	background-position: 46%;
	z-index: 5;
	display: inline-block;
	margin: 4em auto 2em auto;
}

nav {
	width: 100%;
}

nav ul {
	width: 100%;
	color: #c99c7b;
	list-style: none;
}

li {
	text-align: center;
	margin: 0.7em auto;
	font-size: 1.2em;
}

nav ul li a{
	width: 100%;
	text-align: center;
	display: inline-block !important;
	color: #d3685e;
	margin: 0 auto;
	font-family: 'Poiret One', cursive !important;
	font-size: 1.1em;
	font-weight: 400;
}

nav ul li:nth-of-type(2) a{
	color: #f3ecd2;
}

#contacts {
	cursor: pointer;
}

#contacts_block {
	margin: -0.5em auto;
	height: 0;
	width: 100%;
	background: #5C6866;
	-webkit-transition: all 1s;
	transition: all 1s;
	overflow: hidden;
}

.contacts_open {
	-webkit-transition: all 1s;
	transition: all 1s;
	height: 6em !important;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
}

#contacts_block a {
	width: 100%;
	height: 0;
	opacity: 0;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
	display: inline-block;
	color: white;
	font-family: 'Poiret One', cursive !important;
	font-weight: 400;
}

.a_hide {
	opacity: 1 !important;
	margin: 0.6em auto 0 auto;
	color: white;
	font-weight: 400;
}



/* Left aside end */


/* Right aside */

.right_aside{
	width: 82%;
	float: right;
	overflow: hidden;
}

/* Right aside end */ 


/* Header */

header {
	width: 100%;
	height: 3.5em;
	background: #ff6e61;
	font-size: 17px;
}

header nav {
	height: 100%;
	display: table;
	margin-left: 2em;
}

header nav a {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Poiret One', cursive !important;
	font-size: 1.2em;
	font-weight: 800
}

main div a {
	display: block;
	width: 100%;
	height: 100%;
}

header nav a , header nav a:visited {
	color: #4e5352;
}

a:hover {
	color: #f3ecd2 !important;
}

header div {
	height: 100%;
	display: inline-block;
}

.menu_logo {
	display: none;
	width: 2.5em;
	height: 0.5em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	background: #5C6866;
	-webkit-box-shadow: 0 0.7em 0 #5C6866 , 0 1.4em 0 #5C6866;
	        box-shadow: 0 0.7em 0 #5C6866 , 0 1.4em 0 #5C6866;
	z-index: 5;
}

#menu_logo_symbol {
	z-index: 5;
	width: 2.55em;
	height: 2.55em;
}

#menu_logo_close {
	display: none;
	width: 2.5em;
	height: 0.5em;
	position: absolute;
	top: 1.2em;
	left: 0.5em;
	background: #5C6866;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

#menu_logo_close:after {
	content: "";
	width: 2.5em;
	height: 0.5em;
	position: absolute;
	top: 0;
	left: 0;
	background: #5C6866;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

#menu_logo_close_container {
}

.opacity_to_0 {
	opacity: 0 !important;
	background: darkgreen;
}

.opacity_to_1 {
	display: inline-block !important;
}

.left_aside {
	-webkit-transition: all 0s !important;
	transition: all 0s !important;
}



/* Header */


/* Main */

main {
	width: 100%;
}

main div {
	width: 25%;
	height: 9.7em;
	display: inline-block;
	margin-right: -5px;
	text-align: center;
	position: relative;
	-webkit-transition: height 0.3s !important;
	transition: height 0.3s !important;
	-webkit-will-change: width, opacity;
	will-change: width, opacity;
	transform: translateZ(0);
	transform-origin: 50% 50%;
}

div span {
	width: 100%;
	display: inline;
	text-align: center;
	position: absolute;
	top: 20%;
	font-size: 1em;
	opacity: 0;
	color: white;
	-webkit-transition: all 0s;
	transition: all 0s;
}

main div:hover {
}

img {
	display: inline-block;
	margin-right: 0;
}

.logos {
	background-color: black;
}

.games{
	background-color: #19686b;
}

.illustrations
{
	background-color: #99615b;
}

.other
{
	background-color: #59686b;
}

/* Main end */

/* Hide block */

*{
	-webkit-transition: all 1s;
	transition: all 1s;
}

.hide_block {
	-webkit-animation: display_none  0.5s forwards;
	        animation: display_none  0.5s forwards;
}

.show_block {
	width: 25%;
}

@-webkit-keyframes display_none{
	100%{
		 width: 0;
		 opacity: 0;
	}
}

@keyframes display_none{
	100%{
		 width: 0;
		 opacity: 0;
	}
}

/* Hide block end */

/* Background images */

main div {
	background-size: 100% auto !important;
	background-repeat: no-repeat !important;
}

main div:nth-of-type(1) {
	background: url(backgrounds/magnet1min.jpg);
}

main div:nth-of-type(2) {
	background: url(backgrounds/svg/shooter.svg);
}

main div:nth-of-type(3) {
	background: url(backgrounds/dominican_Small_6min.jpg);
}

main div:nth-of-type(4) {
	background: url(backgrounds/raccoonmin.jpg);
}

main div:nth-of-type(5) {
	background: url(backgrounds/location.jpg);
}

main div:nth-of-type(6) {
	background: url(backgrounds/monstersmin.jpg);
}

main div:nth-of-type(7) {
	background: url(backgrounds/super_strolleminr.jpg);
}

main div:nth-of-type(8) {
	background: url(backgrounds/svg/pers.svg);
}

main div:nth-of-type(9) {
	background: url(backgrounds/nia.jpg);
}

main div:nth-of-type(10) {
	background: url(backgrounds/pleasure_groundmin.jpg);
}

main div:nth-of-type(11) {
	background: url(backgrounds/1min.jpg);
}

main div:nth-of-type(12) {
	background: url(backgrounds/nia2min.jpg);
}

main div:nth-of-type(13) {
	background: url(backgrounds/feniokmin.jpg);
}

main div:nth-of-type(14) {
	background: url(backgrounds/iashik.jpg);
}

main div:nth-of-type(15) {
	background: url(backgrounds/nia_monstermin.jpg);
}

main div:nth-of-type(16) {
	background: url(backgrounds/iconmin.jpg);
}

main div:nth-of-type(17) {
	background: url(backgrounds/4min.jpg);
}

main div:nth-of-type(18) {
	background: url(backgrounds/girlmin.jpg);
}

main div:nth-of-type(19) {
	background: url(backgrounds/distillerymin.jpg);
}

main div:nth-of-type(20) {
	background: url(backgrounds/2min.jpg);
}

main div:nth-of-type(21) {
	background: url(backgrounds/foxmin.jpg);
}

main div:nth-of-type(22) {
	background: url(backgrounds/logo_girlmin.jpg);
}

main div:nth-of-type(23) {
	background: url(backgrounds/5min.jpg);
}

main div:nth-of-type(24) {
	background: url(backgrounds/catmin.jpg);
}

main div:nth-of-type(25) {
	background: url(backgrounds/special_forcesmin.jpg);
}

main div:nth-of-type(26) {
	background: url(backgrounds/6min.jpg);
}

main div:nth-of-type(27) {
	background: url(backgrounds/businessmin.jpg);
}

main div:nth-of-type(28) {
	background: url(backgrounds/citymin.jpg);
}

main div:nth-of-type(29) {
	background: url(backgrounds/svg/box.svg);
}

main div:nth-of-type(30) {
	background: url(backgrounds/redpanda11min.jpg);
}

main div:nth-of-type(31) {
	background: url(backgrounds/cafe1min.jpg);
}

main div:nth-of-type(32) {
	background: url(backgrounds/nursemin.jpg);
}

main div:nth-of-type(33) {
	background: url(backgrounds/cafemin.jpg);
}

main div:nth-of-type(34) {
	background: url(backgrounds/childrenmin.jpg);
}

main div:nth-of-type(35) {
	background: url(backgrounds/frokmin.jpg);
}

main div:nth-of-type(36) {
	background: url(backgrounds/vegetablemins.jpg);
}

main div:nth-of-type(37) {
	background: url(backgrounds/logomin.jpg);
}

main div:nth-of-type(38) {
	background: url(backgrounds/birdmin.jpg);
}

main div:nth-of-type(39) {
	background: url(backgrounds/hedgehogmin.jpg);
}

main div:nth-of-type(40) {
	background: url(backgrounds/m_min.jpg);
}

main div:nth-of-type(41) {
	background: url(backgrounds/teamin.jpg);
}

main div:nth-of-type(42) {
	background: url(backgrounds/rhinomin.jpg);
}

main div:nth-of-type(43) {
	background: url(backgrounds/pancermin.jpg)
}

main div:nth-of-type(44) {
	background: url(backgrounds/facemin.jpg);
}

main div:nth-of-type(45) {
	background: url(backgrounds/sova_min.jpg);
}

main div:nth-of-type(46) {
	background: url(backgrounds/tea_min.jpg);
}

main div:nth-of-type(47) {
	background: url(backgrounds/dog_min.jpg);
}

main div:nth-of-type(48) {
	background: url(backgrounds/proj.jpg);
}

main div:nth-of-type(49) {
	background: url(backgrounds/proj2_min.jpg);
}

main div:nth-of-type(50) {
	background: url(backgrounds/pig_min.jpg);
}

main div:nth-of-type(50) {
	background: url(backgrounds/z_min.jpg);
}

main div:nth-of-type(51) {
	background: url(backgrounds/p.jpg);
}

main div:nth-of-type(52) {
	background: url(backgrounds/pig_min.jpg);
}


/* Background images end */